
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="../../dist/css/jasny-bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/LeftMenu/jasny-bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    @*<link href="navmenu-push.css" rel="stylesheet">*@
    <link href="~/Content/LeftMenu/navmenu-push.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .color-white {
            color:white !important;
        }
    </style>
</head>

<body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style=" background-color: #87ceeb;">
       
      @Html.ActionLink("이슬청년부", "", new { Controller = "Home" }, new { @class = "navmenu-brand color-white", style = "background-color: #1e90ff" })
        <ul class="nav navmenu-nav" >
            @if (this.User.Identity.IsAuthenticated == false)
            {
                <li >@Html.ActionLink("로그인/회원가입", "Login", new { Controller = "Account" }, new { @class = "color-white" })</li>
            }
            else
            {
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">로그아웃</a>
                    }
                </li>
            }
            <li>@Html.ActionLink("공지사항", "", new { Controller = "Notice" }, new { @class = "color-white" })</li>
            <li>@Html.ActionLink("공동체소개", "About", new { Controller = "Home" }, new { @class = "color-white" })</li>
        </ul>
        <ul class="nav navmenu-nav">
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle color-white" data-toggle="dropdown">1청년부 소그룹 <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle color-white" data-toggle="dropdown">2청년부 소그룹 <b class="caret"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li>김민석 리더</li>
                    <li class="divider"></li>
                    <li>정신철 리더</li>
                    <li class="divider"></li>
                    <li>이미진 리더</li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li>@Html.ActionLink("Dews갤러리", "", new { Controller = "DEWsPicture" }, new { @class = "color-white" })</li>
            @*<li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>*@
        </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("DEWS! 힘써알자 예수님!!", "Index", new { controller = "Home" }, new { @class = "navbar-brand"})
    </div>

    <div class="container visible-md visible-lg">
        <div class="page-header"></div>
    </div><!-- /.container -->
    <div class="clearfix"></div>
    <div class="container body-content">
        
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - 대한예수교 장로회 도원동교회</p>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    @*<script src="../../dist/js/jasny-bootstrap.min.js"></script>*@
    <script src="~/Content/LeftMenu/jasny-bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
